body {
  background-color: #e0dada;
}

div {
  background-color: #ebe6e5;
  border-radius: 10px;
  color: #030303;
  font-family: "Avenir";
  font-weight: bold;
  margin: 25px;
  display: inline-block;
  text-align: center;
}

button {
  height: 40px;
  border-radius: 10px;
  font-family: "Avenir";
  font-weight: bold;
  margin: 25px;
  display: inline-block;
  text-align: center;
}

.error {
  color: #f20909;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
